include ../mixins/item

.items
	+item({
		img: './assets/imgs/logo.svg',
		title:'Easy looking',
		description:'blablablablablaba',
		title_mod: 'item__title--mod'
	})
	+item({
		img: './assets/imgs/logo.svg',
		title:'Easy looking',
		description:'blablablablablaba',
		title_mod: ''
	})
	+item({
		img: './assets/imgs/logo.svg',
		title:'Easy looking',
		description:'blablablablablaba',
		title_mod: ''
	})
	+item({
		img: './assets/imgs/logo.svg',
		title:'Easy looking',
		description:'blablablablablaba',
		title_mod: ''
	})
	.items-column 
	.items-column
	.items-column